@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Edit employee</h1>

<form action="/employee/EditempoloyeeDb">
    <input id="id" name="id" value="@Model.SSN" hidden />
    
    <input id="FirstName" name="SSN" type="text" value="@Model.SSN" style="visibility:hidden" />
    <label>FirstName</label>
    <input id="FirstName" name="FirstName" type="text" value="@Model.FirstName" />
    <label>MiddleName </label>
    <input id="MiddleName" name="MiddleName" type="text" value="@Model.MiddleName " />

    <label>LastName </label>
    <input id="LastName " name="LastName " type="text" value="@Model.LastName " />

    <label> Salary</label>
    <input id=" Salary" name=" Salary" type="number" value="@Model.Salary" />

@*    <label>SuperVisor</label>*@
@*    <select id="employee" name="SuperVisor">
        @foreach (var ins in ViewBag.ins)
        {
            @if (ins.Id == Model.employee)
            {
                <option value="@ins.Id" selected>@ins.FirstName</option>
            }else{
                <option value="@ins.Id">@ins.Sex</option>
            }
        }
    </select>*@

    <input type="submit" value="Edit" />
</form>
