@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
<body >
    <h2>data about employee @Model.FirstName </h2>


    <div >
        <ul>
           <p>FirstName : @Model.FirstName</p>
<p>MiddleName: @Model.MiddleName</p>
<p>LastName: @Model.LastName</p>
<p>Salary: @Model.Salary</p>

        </ul>
    </div>


    <a href="/Dependent/AddemployeeDb">Add Dependence</a>
    <a href="/Dependent">Get all Dependence</a>
<a href="/Department">ALL department</a>

</body>
